<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        background-color: rgb(61, 83, 104);
        color: aqua;
      }
    </style>

    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortner Place</h1>
    <% if (locals.id) { %>
    <P>URL Generated - http://localhost:8080/url/<%= id %> </P>
    <% } %>
    <div>
      <form method="POST" action="/url">
        <label>Enter your URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Short Id</th>
            <th>Redirect</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
<!-- 
<html>
    <head></head>
    <body>
      <ul>
        ${allUrls
          .map(
            (url) =>
              `<li>
            ${url.shortId} - ${url.redirectUrl} - ${url.visitHistory.length}
          </li>`
          )
          .join("")}
      </ul>
    </body>
    </html> -->
