<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        background-color: rgb(61, 83, 104);
        color: aqua;
      }
    </style>
    <title>Sign-Up</title>
  </head>
  <body>
    <h1>SignUp Page</h1>
    <form method="POST" action="/user">
      <label>Full Name</label>
      <input type="text" name="name" required />
      <label>Email</label>
      <input type="email" name="email" required />
      <label>Password</label>
      <input type="password" name="password" required />
      <button type="submit">SignUp</button>
    </form>
  </body>
</html>
